.input-group-subscribe {
  .form-control {
    font-size: 1rem;
    height: 50px;
  }
  .btn {
    font-size: 1rem;
    height: 50px;
    @include button-variant(
      $secondary,
      $secondary,
      $hover-background:  lighten($secondary, 8%),
      $hover-border:      lighten($secondary, 10%)
    );
  }
}
