.input-group-password {
  .input-group-append {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: $zindex-fixed;
    .btn {
      color: transparentize($gray-light, .6);
      &.active {
        color: $gray-light;
      }
    }
  }
}
