.form-check-simple {
  padding: 0;

  > .form-check-input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + .form-check-label {
      position: relative;
      left: 0;
      padding: 0 0 0 28px;
      cursor: pointer;
      user-select: none;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        border: 1px solid $border-color;
      }
    }

    &:checked + .form-check-label:before {
      background: url("../icons/tick.svg") 3px 3px no-repeat;
    }
  }
}
