.logo {
  display: block;
  width: 250px;
  height: 60px;
}

.logo {
  background: url("../icons/logo.svg") no-repeat;
  background-size: cover;
}

.logo-w {
  background: url("../icons/logo_w.svg") no-repeat;
  background-size: cover;
}
